<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ══════════════════════════════════════════════════════════════════════
         PERMISSIONS
         ══════════════════════════════════════════════════════════════════ -->

    <!-- Required: API calls to the backend -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required: file picking for document upload -->
    <!-- Android 9 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Android 13+ (API 33+) granular media permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- ══════════════════════════════════════════════════════════════════════
         APPLICATION
         ══════════════════════════════════════════════════════════════════ -->

    <application
        android:label="personal_knowledge_base_ai_chatbot"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        android:usesCleartextTraffic="true">
        <!--
            android:usesCleartextTraffic="true"
            Allows plain HTTP (not just HTTPS).
            Needed for local development: http://10.0.2.2:8000
            IMPORTANT: Remove this attribute (or set to false) when you
            deploy to production with an HTTPS Railway URL.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->

            <!-- Keeps the splash screen until Flutter is ready -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->

        <!-- Required for Flutter embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.


        In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <!-- ══════════════════════════════════════════════════════════════════════
         QUERIES
         Required for file_picker to open the system file picker on
         Android 11+ (API 30+). Without this the file picker will not work.
         ══════════════════════════════════════════════════════════════════ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Add these two for file_picker to work -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
        </intent>
    </queries>
</manifest>
